<nav class="navbar navbar-expand-lg bg-light">
    <div class="container">
      <a class="navbar-brand" href="#">Examen</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/']">Cubos</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Marcas
            </a>
            <ul class="dropdown-menu">
              <li *ngFor="let marca of marcas">
                <a class="dropdown-item" [routerLink]="['/', marca]">{{marca}}</a>
              </li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/auth/login']">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/perfil/usuario']">Perfil</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/insertar/pedido']">Insertar pedido</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/registro/usuario']">Registro</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/sesion/logout']">Logout</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>